<% include ../partials/head %>
<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse ">
<% include ../partials/menu %>
</div>


<!-- BEGIN CONTAINER -->
    <div class="page-container row-fluid">

      <!-- BEGIN SIDEBAR -->
      <div class="page-sidebar " id="main-menu">
        <% include ../partials/left-menu %>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN PAGE CONTAINER-->
      <div class="page-content">
        <div class="content">
          <div class="page-title"> <i class="icon-custom-left"></i>
            <h3>Gestão de - <span class="semi-bold">Centro de produção</span></h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="grid simple ">
                <div class="grid-title no-border">
                  <h4>Listagem de <span class="semi-bold">Centro de produção</span></h4>
                  <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                  </div>
                </div>
                <div class="grid-body no-border">
                  <h3><span class="semi-bold">Centros de produção</span> Registrados</h3>
                  <table class="table no-more-tables">
                    <thead>
                      <tr>
                        <th style="width:1%">
                          <div class="checkbox check-default">
                            <input id="checkbox10" type="checkbox" value="1" class="checkall">
                            <label for="checkbox10"></label>
                          </div>
                        </th>
                        <th style="width:22%">Code</th>
                        <th style="width:22%">Name</th>
                        <th style="width:22%">Cep</th>
                        <th style="width:6%">Ação</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% cpps.forEach(function(cpp){%>
                     <tr>
                        <td class="v-align-middle">
                          <div class="checkbox check-default">
                            <input id="checkbox11" type="checkbox" value="<%= cpp.id %>">
                            <label for="checkbox11"></label>
                          </div>
                        </td>
                        <td class="v-align-middle"><%= cpp.code %></td>
                        <td class="v-align-middle"><%= cpp.name %></td>
                        <td class="v-align-middle"><%= cpp.zip %></td>
                        <td>
                          <a href="/production-center/<%= cpp.code %>" class="btn btn-primary btn-sm btn-small">Editar</a>
                          <button type="button" data-sku="<%= cpp.code %>" class="btn delete-item btn-danger btn-sm btn-small">Deletar</a>
                        </span>
                        </td>
                      <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
    <!-- END CONTAINER -->
    <!-- END CONTAINER -->
<% include ../partials/footer %>
<script type="text/javascript">


jQuery('.delete-item').on('click', function () {
  var element = jQuery(this);
  var sku = jQuery(this).data('sku');
  jQuery.ajax({
        url: '/production-center/' + sku,
        type: 'DELETE',
        success: function(result) {
          location.reload();
        }
    });
});
</script>
